<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments :: header-links}"></th:block>
</head>

<body>
    <nav th:replace="~{fragments :: navbar}"></nav>
    <div class="container mt-5">
        <h1>Questa è la collezione delle migliori canzoni!</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titolo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="s : ${listaSongs}">
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.title}"></td>
                </tr>
            </tbody>
        </table>

        <div th:replace="~{fragments :: footer-scripts}"></div>

</body>

</html>